{{ $leafpages := partial "getleafpages.html" . }}

{{ $hasTracks := false }}
{{ $hasGeotaggedPhotos := false }}
{{ range $leafpages }}
  {{ $tracks := partial "sortedgpx.html" . }}
  {{ if gt (len $tracks) 0 }}
    {{ $hasTracks = true }}
  {{ end }}
  {{ $images := partial "sortedimages.html" . }}
  {{ range $images }}
    {{ with .Exif }}
      {{ if and (.Lat) (.Long) }}
        {{ $hasGeotaggedPhotos = true }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if or $hasTracks $hasGeotaggedPhotos }}
<div id="mapid" style="width: 100%; height: 50vh;" class="mb-2"></div>
{{ range $index, $page := $leafpages }}
  {{ $tracks := partial "sortedgpx.html" $page }}
  {{ range $tracks }}
    {{ $p := resources.GetMatch "/hugo-split-gallery/gpx.js" | resources.ExecuteAsTemplate (printf "%s/%s.js" $page.File.Dir .Name) . }}
    <script src="{{ $p.Permalink }}"></script>
  {{ end }}
{{ end }}
<script>
$(document).ready(function() {
initMap();

{{ range $index, $page := $leafpages }}
  {{ $tracks := partial "sortedgpx.html" $page }}
  {{ $images := partial "sortedimages.html" $page }}
  function {{ printf "load_%d" $index | safeJS }} () {
    var gpxs = [];
    var markers = [];
    var latlngs = [];

    {{ range $tracks }}
      gpxs.push([
        {{ printf "track_%s" (md5 .Content) | safeJS }},
        '<strong><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></strong>',
      ]);
    {{ end }}

    {{ range $images }}
      {{ with .Exif }}
        {{ if and .Lat .Long }}
          latlngs.push(L.latLng({{ .Lat }}, {{ .Long }}));
        {{ end }}
      {{ end }}
    {{ end }}

    if (latlngs.length > 0) {
      var pagebounds = L.latLngBounds(latlngs);
      addBounds(pagebounds);
      if (gpxs.length === 0) {
        markers.push([
          pagebounds.getCenter(),
          {{ $index }},
          '<strong><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></strong>',
        ]);
      }
    }

    add(gpxs, markers, {{ $index }});
  }

  {{ printf "load_%d" $index | safeJS }}();
{{ end }}
finalizeMap();
});
</script>
{{ end }}
